# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal

# Virtual Environment
.venv/
venv/

# Environment Variables
.env

# IDE
.vscode/
.idea/
.gemini/
storage/

# Private data
static/direcciones info fds
load_emails.py

empresas_dump.json
